.wrapper_top_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 950;
}
.wrapper_main_header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 930;
}

.wrapper_handle_response {
  &:hover {
    // color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    // background-color: white;
    // color: red !important;

    background-color: #f4d2d6;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.3s ease;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #e31837;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }
    color: red !important ;
  }
}

.wrapper_position {
  padding-left: 6px;
}

.wrapper_signup_signin {
  &:hover {
    color: rgb(16, 158, 197) !important;
  }
}
